.container {
  padding: 0 6em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo > p {
  font-size: 17px;
  font-weight: 600;
}
.navLink > a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  margin: 0 15px;
}
.container > p {
  font-size: 20px;
  font-weight: 800;
  padding-left: 10px;
}
.navItem {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navItem > button {
  background-color: rgb(7, 7, 98);
  color: var(--white);
  padding: 10px 25px;
  border-radius: 100px;
  cursor: pointer;
}

/* ----------responsive-------- */
@media (max-width: 420px) {
  .container {
    padding: 0 1em;
  }
  .navLink {
    display: none;
  }
}
